a {
    font-style: italic;
    text-align: center;
    color:magenta
  }

.unordered {
   color:green
    
}

.ordered {
    color: purple
}

#blue {
    color:blue
}

.img-container {
    text-align: center;
  }

  h3 {
      margin-top:300px
    width; 300px;
    text-align:left 
  }
  