body {
  background-color:blanchedalmond;

}

h1 {
color: maroon;

}

h2 {
  float: left;
  color: maroon;
  margin: auto;
  margin-right: 20px;

}

.container2 {
  border: 20px double green;
  padding: 10px;
  background-color: cornsilk;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
  box-sizing: border-box;
  
}

.ol-container {
  width: 350px;
  border: 10px double purple;
  padding: 50px;
  margin: 50px; 

  }

a {
  font-style: italic;
  text-align: center;
  color:magenta

  }

.unordered {
  color:green 
    
}

.ordered {
  color: purple

}

#blue {
  color:blue

}

.img-container {
  text-align: center;
  
}

 
  