body{
  background-color:whitesmoke
  
}

.ul-container{
  float:right;
  width: 200px;
  border: 10px dashed green;
  padding: 30px;
  margin: 35px;

}

.ol-container{
  text-align: left;
  width: 290px;
  border: 10px double purple;
  padding: 5px;
  margin: 20px;
  
}

a {
    font-style: italic;
    text-align: center;
    color:magenta
  }

.unordered {
  color:green 
    
}

.ordered {
    color: purple
}

#blue {
    color:blue
}

.img-container {
    text-align: center;
  }

 
  